/* Start ----------------------------------------------------- body.css*/

.student_list {
 position: absolute;
 left:  0;
 top:  0;
 right: 0;
 bottom: 0;
}


/* End ------------------------------------------------------- body.css*/

