/* Start ----------------------------------------------------- body.css*/

body { position: absolute; }
.sc-scroll-view { position: absolute; }
.student_list_view { width: 100%; }

/* End ------------------------------------------------------- body.css*/

